*{
    box-sizing: border-box;
}
body{
    margin: 15px 30px;
    font-size: 17px;
    padding: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(image/gaurav-kumar-bpr-render.jpg);
    background-position: center 20px;
    background-repeat: no-repeat;
}


.heading{
    text-align: center;
}

.continer{
    background-color:rgb(234, 235, 221);
    padding: 5px 20px 15px 20px;
    border: 10px;
    border-radius: 10px;

}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
select,
textarea{
    width: 50%;
    padding: 10px;
    border:inset;
    border-radius: 5px;
    margin: 5px;
}
fieldset{
    background-color: rgb(234, 235, 221);
    padding: 10px;
border-radius: 5px;
}

input[type="submit"]{
    padding: 5px;
    margin: 0px;
    text-align: center;
    border-radius: 5px;
    border: 5px;
    background-color: rgb(95, 183, 95);
    width: 100%;
}

input[type="submit"]:hover{
   background-color:  green;
}